@model Blog.IdentityServer4.Quickstart.Account.RoleRegisterViewModel

@{
    ViewData["Title"] = "RoleRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RoleRegister</h2>

<h4>RoleRegisterViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <partial name="_ValidationSummary" />
        <form asp-action="RoleRegister" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

